* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
input,
span {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header {
  width: 100%;
  background-image: url("images/header-background.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  /* padding: 20px 0; */
  font-weight: 700;
  color: white;
  /* position: relative; */
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(11, 3, 3, 0.4); /* Set the color and transparency */
  pointer-events: none; /* Allow interaction with the elements behind the pseudo-element */
  z-index: 1; /* Place the pseudo-element above the background image */
}

.navbar {
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
  padding: 10px 5rem;
  width: 100%;
  position: fixed;
  transition: background-color 0.3s ease;
  background-color: #113448ea;
}

.navbar.scrolled {
  background-color: #113549;
  padding: 0.6rem;
}

.head-left img {
  width: 7.0625rem;
  height: 2rem;
  margin-left: 3rem;
}
.head-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 2rem;
  height: 1.5rem;
  background-image: url("images/hexagon-green.svg");
  background-repeat: no-repeat;
  padding: 0 10px;
  margin: 0 3px;
  color: white;
  align-items: center;
}
.logo i {
  color: white;
  padding-top: 0.4rem;
  font-size: 0.8rem;
  position: relative;
  left: -13%;
}
.navbar ul {
  display: flex;
  font-style: bold;
  list-style-type: none;
}
.navbar ul li a {
  padding: 0 10px;
  color: white;
  text-decoration: none;
}
.navbar ul li a:hover {
  color: #14be99;
}

.head_text {
  position: relative;
  z-index: 20;
  margin: 13rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head_text h1 {
  font-size: 4rem;
  color: white;
  margin: 5px;
  font-family: Montserrat, sans-serif;
}
.head_text h1::after {
  content: "SERVICE";
  animation: animate infinite 3s;
  padding: 10px;
}
@keyframes animate {
  0% {
    content: "SEVICES";
  }
  50% {
    content: "SOLUTION";
  }
  75% {
    content: "TEMPLATE";
  }
}
.head_text p {
  font-size: 1.1rem;
  color: #c9cfdb;
  max-width: 40rem;
  text-align: center;
  margin: 5px;
}
.head_text a {
  background-color: #14be99;
  font-size: 1rem;
  color: white;
  font-family: Montserrat, sans-serif;
  padding: 15px 40px;
  border-radius: 5px;
  margin: 2rem;
  text-decoration: none;
}
.head_text a:hover {
  border: 2px solid #14be99;
  color: #14be99;
  background: transparent;
}

/* INTRO */
.intro_content {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 6.5rem;
  padding-bottom: 3rem;
}
.intro-text {
  width: 30%;
  padding: 20px;
}
.intro-image {
  width: 50%;
  height: 50%;
  overflow: hidden;
  /* margin-right: 3rem; */
}
.intro-image img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.intro-text span {
  padding: 10px;
  color: #14be99;
}
.intro-text p {
  padding: 10px;
  color: #646464;
}
.intro_cards {
  display: flex;
  margin: 2rem 6rem;
}
.cards {
  padding: 1rem;
  margin: 1rem;
  max-width: 30rem;
}
.cards .cards-logo {
  width: 5rem;
  height: 4rem;
  background-image: url("images/hexagon-green.svg");
  background-repeat: no-repeat;
  padding: 0 0.7rem;
  margin: 0 1rem;
  color: white;
}
.cards .cards-logo i {
  font-size: 2rem;
  color: white;
  padding: 1rem 0.5rem;
}
.cards h3 {
  padding: 0.4rem 1rem;
}
.cards P {
  padding: 0.4rem 1rem;
}
.services {
  margin-top: 8rem;
  margin-left: 0rem;
  margin-right: 0rem;
  padding-top: 8rem;
  padding-bottom: 4rem;
  display: flex;
  background-color: #fbfbfb;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services span {
  color: #14be99;
}
.service-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* border: 1px solid black; */
}
.service-flex2 {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  padding-left: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.service-flex2 a {
  color: #14be99;
}
.service-flex2 p {
  margin-top: 0.5rem;
  color: #838280;
}
.service_cards {
  display: flex;
  align-items: center;
}
.bar {
  width: 100%;
  height: 100%;
  margin: 1rem 0;
}
.name {
  font-weight: 700;
  padding: 5px;
  margin-top: -10%;
}

.bar-1 .colored {
  margin: 0.5rem 0;
  width: 500px;
  height: 20px;
  background-color: #14be99;
}
.bar-2 .colored {
  margin-top: 0.5rem;
  width: 350px;
  height: 20px;
  background-color: #14be99;
}
.bar-3 .colored {
  margin: 0.5rem 0;
  width: 450px;
  height: 20px;
  background-color: #14be99;
}
.serviceText2 .service-header {
  color: #14be99;
  display: flex;
  font-size: 1.5rem;
}
.service-card {
  margin: 1rem;
  background-color: white;
  border-radius: 10px;
  max-width: 22rem;
  margin-bottom: 9rem;
}
.service-card img {
  border-radius: 8px 8px 0px 0px;
  width: 100%;
}
.service_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
}
.services h1 {
  max-width: 30rem;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}
.service_text h3{
  font-size: 21px;
  color: #413e3e;
}
.service_text p {
  color: #686a6d;
  margin: 1rem;
}

.service_text ul {
  color: #686a6d;
  list-style-type: square;
}
.service_text ul li {
  padding: 0.5rem;
}
.service_text ul li::marker {
  color: #14be99;
}

.service-card button {
  background-color: #14be99;
  color: white;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  position: relative;
  top: 1rem;
  left: 7rem;
  font-weight: 700;
}
.service-card .price {
  margin-top: 1rem;
  font-size: 1.2rem;
}
.service-content {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.service-card button:hover {
  border: 2px solid #14be99;
  color: #14be99;
  background-color: white;
}
.first {
  display: flex;
}
.first .image {
  width: 50%;
}
.first .image img {
  width: 100%;
  height: 100%;
}
.first .serviceText {
  width: 50%;
  background-color: white;
  padding: 5rem 5rem;
  font-weight: bold;
}
.first .serviceText h1 {
  text-align: justify;
  max-width: 33rem;
  color: #494747;
}
.first .serviceText ol li {
  font-size: 1.3rem;
  margin-left: 5rem;
  margin-top: 2rem;
  color: #413e3e;
}
.second {
  display: flex;
}
.second .image {
  width: 50%;
}
.second .image img {
  width: 100%;
  height: 100%;
}
.second .serviceText2 {
  width: 50%;
  background-color: white;
  padding: 5rem 5rem;
}
.testimonial {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafb;
  padding: 6rem 8rem;
}
.testimonial h1 {
  font-size: 2.2rem;
  max-width: 70%;
}
.testimonial .para {
  font-size: 1rem;
  max-width: 45%;
  text-align: center;
  color: #838280;
}
.testimonial-cards .card p {
  color: #838280;
  padding: 1rem;
}
.testimonial-cards .card h2 {
  font-size: 1rem;
}
.testimonial-cards {
  display: flex;
}
.testimonial-cards .card {
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}
.testimonial-cards .card img {
  border-radius: 50%;
  height: 130px;
  width: 130px;
}
.testimonial-cards .card img:hover{
  box-shadow: 5px 5px 10px 1px #4ec29b;
}

.symbol {
  padding-top: 7rem;
  font-size: 3rem;
  color: #797977;
}
/* CALL ME */
.call-me {
  display: flex;
  width: 100vw;
  background-color: #153e52;
  color: white;
}
.call-me .call-text {
  width: 50%;
  margin: 8rem 5rem;
  padding-left: 3rem;
}
.call-me .call-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 8rem 5rem;
  gap: 1rem;
  padding-right: 3rem;
}
.call-form input {
  background-color: #2a5c76;
  border: 1px solid #14be993b;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 5px;
}
.call-form input::placeholder {
  color: white;
}
.call-form input:hover {
  border: 1px solid white;
}
.call-form select {
  background-color: #2a5c76;
  border: 1px solid #14be993b;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 5px;
  color: white;
}
.call-form select:hover {
  border: 1px solid white;
}

.call-form button {
  background-color: #14be99;
  font-weight: 800;
  padding: 1rem;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.call-form button:hover{
  background-color: transparent;
  border: 1px solid #14be99;
}
.call-me span {
  color: #14be99;
}
.call-me ul li {
  color: #dfe5ec;
  margin: 0.8rem;
  list-style-type: square;
}
.call-me p {
  color: #dfe5ec;
  margin: 1.5rem 0;
}
.call-form .checkbox {
  display: flex;
}
.call-form .checkbox .Text {
  color: white;
  padding: 0 1rem;
}
.call-form .Text a {
  color: white;
}

/* PROJECTS */
.project {
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
}
.project span {
  color: #14be99;
  padding: 1rem;
}
.project h2 {
  padding-bottom: 4rem;
}
.project .diff {
  background-color: #14be99;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1.2rem;
  font-weight: 700;
  margin: 0.3rem;
  cursor: pointer;
}
.project button {
  background-color: #f0f4f6;
  color: #7a7f85;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1.2rem;
  font-weight: 700;
  margin: 0.3rem;
  cursor: pointer;
}
.grid{
  max-width: 80%;
  margin: 0;
  margin-bottom: 6rem;
  padding-top: 2rem;
  flex-wrap: wrap;
  display: flex;
}
.photos {
  position: relative;
}
.photos img {
  display: grid;
  height: 277px;
  width: 270px;
}
.photos:hover{
  object-fit: cover;
  transform: scale(1.1);
  transition: transform 0.3s ease;
  overflow: hidden;
  }

.text {
  color: white;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  opacity: 0;
  font-size: 2rem;
  letter-spacing: 2px;
  transition: all 0.2s ease;
  font-weight: 900;
}
.text:hover {
  color: white;
  opacity: 1;
  cursor: pointer;
}
.consultants {
  background-color: #fafafb;
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 4rem;
  width: 100vw;
}
.consultants .cards {
  display: flex;
  align-items: center;
  margin-left: 4rem;
}
.consultants-text {
  /* border: 1px solid black; */
  text-align: center;
}
.cards .first {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.first img:hover{
  transform: scale(1.1);
    transition: 0.3s ease;
    cursor: pointer;
}
.cards .first p {
  color: #838280;
  padding-top: 2rem;
}
.consultants-text h3 {
  margin-bottom: 0rem;
  font-size: 2.2rem;
}
.consultants-text .para {
  font-size: 1rem;
  max-width: 45%;
  text-align: center;
  color: #838280;
  margin-left: 22rem;
}
.logos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logos .cards-logo {
  width: 2rem;
  height: 2.5rem;
  background-image: url("images/hexagon-green.svg");
  background-repeat: no-repeat;
  padding: 0px 9px;
  margin: 0 5px;
  color: white;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.logos .cards-logo i {
  color: white;
  padding-left: 0.1rem;
  font-size: 0.8rem;
  position: relative;
  top: -16%;
}

/* ABOUT */
.about-section {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 6.5rem;
  padding-bottom: 3rem;
}
.about-text {
  width: 40%;
  margin-right: 1rem;
  padding: 2rem;
  font-size: 17px;
}
.about-text span {
  color: #14be99;
  margin-bottom: 2rem;
}
.about-text h1 {
  margin: 0 0;
  color: #413e3e;
}
.about-text p {
  margin: 1rem 0;
}
.about-text .num {
  color: #14be99;
  font-size: 2.5rem;
  font-weight: 900;
  padding: 0.7rem;
}
.digit .digit-content {
  width: 30%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 0rem;
  text-align: justify;
  /* border: 1px solid blue; */
}
.about-image {
  /* border: 2px solid red; */
  margin-left: 6%;
  margin-top: 3rem;
  margin-bottom: 4rem;
  width: 38%;
}
.about-image img {
  width: 100%;
  height: 100%;
}
.digit {
  display: flex;
}
.about-text ul {
  color: #686a6d;
  list-style-type: square;
  padding: 1rem;
}
.about_text ul li {
  padding: 0 1rem;
}
.about-text ul li::marker {
  color: #14be99;
}

/* CONTACT ME */
.contact {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #fafafb;
}
.contact-text {
  width: 40%;
  /* padding: 20px; */
  padding-left: 3rem;
  /* border: 1px solid gray; */
}
.contact-text h1,
h3 {
  padding: 1rem 0;
}
.contact-text p {
  padding-bottom: 1rem;
}
.contact-form {
  width: 35%;
  display: flex;
  flex-direction: column;
  margin: 8rem 5rem;
  gap: 1rem;
  color: #787877;
}
.contact-form input {
  background-color: white;
  border: 1px solid gray;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 5px;
  color: white;
}
.contact-form input:hover {
  border: 2px solid white;
}
.contact-form textarea {
  background-color: white;
  border: 1px solid gray;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 5px;
  color: white;
}
.contact-form button {
  background-color: #14be99;
  font-weight: 800;
  padding: 1rem;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.contact-form button:hover{
  background-color: #14be99de;
  border: 1px solid #14be99;
}
.contact span {
  color: #14be99;
  padding: 0 0.5rem;
}
.numbers {
  display: flex;
  padding-bottom: 1rem;
  /* border: 1px solid red; */
}
.numbers a {
  color: #787877;
  margin: 1rem 0;
}
.socials {
  display: flex;
}
.socials-logo {
  width: 3.5rem;
  height: 3.5rem;
  background-image: url("images/hexagon-green.svg");
  background-repeat: no-repeat;
  padding: 0 0.4rem;
  margin: 9px 0.2rem;
  color: white;
  align-items: center;
  cursor: pointer;
}
.socials-logo i {
  font-size: 1.5rem;
  color: white;
  padding: 1rem 0.7rem;
}
.contact-form .checkbox {
  color: #787877;
}

/* FOOTER */
.footer {
  width: 100vw;
  display: flex;
  padding: 4rem 6rem;
  gap: 5rem;
  color: white;
  background-color: #113549;
}
.footer a {
  color: #d9e4ed;
  padding-bottom: 0.5rem;
  font-size: 1rem;
}
.footer h3 {
  font-size: 1.5rem;
}
.footer .first {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.footer .second {
  display: flex;
  flex-direction: column;
  width: 15%;
}
.footer .third {
  display: flex;
  flex-direction: column;
  width: 15%;
}
.footer .fourth {
  display: flex;
  flex-direction: column;
  width: 15%;
}
.footer-text {
  color: white;
  width: 100vw;
  background-color: #113549;
  margin-bottom: 13rem;
  text-align: center;
  padding-bottom: 2rem;
}

.marketting{
  margin-left: 14rem;
  padding-bottom: 1rem;
}
